* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_header_all {
    max-width: 1280px;
    margin: auto;
    font-family:'Poppins', sans-serif;
}

.container_header_all a {
    width: 4.6875em;
}

.container_header_all img {
    width: 4.6875em;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem {
    background-color: #FF66C4;
    padding: 0px 40px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 2.5em;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header button {
    color: #fff;
    width: 7.5em;
    height: 2.5em;
    border: 0;
    background-color: #76D74B;
    cursor: pointer;
    transition: .2s;

    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
}

header button:hover {
    background-color: #E98448;
    border: 1;
    border-radius: 10px;
    transition: 0.5s;
}


.tab {
    transition: .55s;
    cursor: pointer;
}

.list:hover > :not( :hover) {
    opacity: 0.4;
    transform: scale(0.9);
}

.logo_pura {
    text-align: none;
    margin-bottom: 10px;
}

.logo_pura img {
    width: 75px;
}

#botao-voltar {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    background-color: #E98448;
    color: white;
    font-size: 32px;
    border-radius: 50%;
}

#botao-voltar:hover {
    background-color:#7a3cf5;
    color: white;
    transition: 0.3s;
}

ul {
    font-weight: 500;
}

ul:hover {
    color: #76D74B;
}

.container_header_all {
    max-width: 1280px;
    margin: auto;
    font-family:'Poppins', sans-serif;
}

.container_header_all a {
    width: 4.6875em;
}

.container_header_all img {
    width: 4.6875em;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 3.125em 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem {
    background-color: #FF66C4;
    padding: 0px 40px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 2.5em;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header button {
    color: #fff;
    width: 7.5em;
    height: 2.5em;
    border: 0;
    background-color: #76D74B;
    cursor: pointer;
    transition: .2s;

    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
}

header button:hover {
    background-color: #E98448;
    border: 1;
    border-radius: 10px;
    transition: 0.5s;
}


.tab {
    transition: .55s;
    cursor: pointer;
}

.list:hover > :not( :hover) {
    opacity: 0.4;
    transform: scale(0.9);
}
