doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style
      link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css' type='text/css')
      include ./style/style.css
      include ./assets/assets.css
    title Pura Folia

  body
    header#header
      nav.container
        a.logo(href='#home') Pura<span>Folia</span>.
        div.menu
          ul.grid
            li
              a.title(href='#home') Início
            li
              a.title(href='#about') Sobre
            li
              a.title(href='#services') Serviços
            li
              a.title(href='#contact') Contato
        div.toggle.icon-menu
        div.toggle.icon-close
    main
      section.section#home
        div.container.grid
          div.image
            img(src='/images/Salao.jpg' alt='Pura Folia - Canoas')
          div.text
            h2.title Salão de festas
            p.subtitle Venha fazer a sua festa aqui!
            a.button(href='#contact') Realizar cotação
      div.divider-1
      section.section#about
        div.container.grid
          div.image
            img(src='./images/DSC_8640.JPG', alt='Pura Folia - Canoas')
          div.text
            h2.title Sobre nós
            p
              | Localizado na cidade de Canoas, tem amplo espaço para até 160 convidados,
              | nosso espaço é todo térreo pensando na acessibilidade. Temos dois ambientes
              | separados entre decoração/convidados e área dos brinquedos mas são integrados para que
              | todos participem da festa, a área Kids possui brinquedos que atendem a TODAS as idades,
              | desde área baby, brinquedão, tombo legal à sinuca, ping-pong, etc.
            br
      div.divider-2
      section.section#services
        div.container.grid
          header
            h2.title Serviços
            p.subtitle Com mais de 20 anos no mercado, o Pura Folia está aqui para realizar a sua festa!
          div.cards.grid
            div.card
              i.icon
              h3.title Festas
              p O salão principal é planejado para que todos se sintam confortáveis para aproveitar a festa.
            div.card
              i.icon
              h3.title Gastronomia
              p É servido diversos tipo de salgados fritos e assados, prato quente, mini porções e muito mais! Solicite nosso cardápio
            div.card
              i.icon
              h3.title Organização
              p Cantinho instagramavel, Pista de Led, iluminações profissionais para balada, com cenário de decoração com Painel de Led e arte exclusiva da festa, possuímos grande acervo de temas e materiais para fazer uma linda decoração.
      div.divider-1
      section.section#contact
        div.container.grid
          div.text
            h2.title Entre em contato com a gente!
            p.subtitle Entre em contato com a Pura folia, estaremos felizes em lhe responder sobre cotações, mas também queremos tirar
            |  suas dúvidas, ouvir suas críticas e sugestões.
            form.w50.contato(action='/order', method='GET' id="form")
              input(type='text', name='customerName', id='customerName', placeholder='Nome')
              input(type='email', name='customerEmail', id='customerEmail', placeholder='E-mail')
              textarea(name='message', id='message', placeholder='Mensagem')
              input(type='submit', value='Enviar')
          div.links
            ul.grid
              li
                i.icon-phone
                | (51) 98170-1508
              li
                i.icon-map-pin
                | Av. A.J. Renner, 1010 - Estância Velha, Canoas - RS
              li
                i.icon-mail
                | contato@purafolia.com
      div.divider-1
    footer.section.footer
      div.container.grid
        div.brand
          a.logo.logo-alt(href='#home') Pura<span>Folia</span>.
          p ©2023 Pura Folia - Casa de Festas Canoas
          p Todos os direitos reservados
        div.social.grid
          a(href='https://www.instagram.com/purafolia.casadefestas/', target='_blank')
            i.icon-instagram
    a.back-to-top(href='#home')
      i.icon-arrow-up

    script
      include ./scripts/script.js
      script( src="./script.js")
      script(src='https://unpkg.com/swiper/swiper-bundle.min.js' type='text/javascript')
      script(src='https://unpkg.com/scrollreveal' type='text/javascript')

